DTD-6/6_1bDTD.dtd

<!ELEMENT songs (song+)>
<!ELEMENT song (title, composers, producers, publisher, artists)>
<!ELEMENT composers (composer)>
<!ELEMENT composer (nombre, apellidos)>
<!ELEMENT producers (producer)>
<!ELEMENT producer (nombre, apellidos)>
<!ELEMENT artists (artist)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellidos (#PCDATA)>
<!ELEMENT publisher (#PCDATA)>
<!ELEMENT artist (#PCDATA)>
<!ATTLIST song length CDATA #REQUIRED>
<!ATTLIST song anio CDATA #REQUIRED>