DTD-5/5_2Direcciones.dtd

<!ELEMENT libreta-direcciones (entrada+)>
<!ELEMENT entrada (nombre, direccion, telefono+, correo-e+)>
<!ELEMENT direccion (calle, region, codigo-postal, localidad, pais)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT calle (#PCDATA)>
<!ELEMENT region (#PCDATA)>
<!ELEMENT codigo-postal (#PCDATA)>
<!ELEMENT localidad (#PCDATA)>
<!ELEMENT pais (#PCDATA)>
<!ELEMENT telefono (#PCDATA)>
<!ELEMENT correo-e EMPTY>
<!ATTLIST correo-e href CDATA #REQUIRED>
]>